@import url("https://fonts.googleapis.com/css2?family=Alata&family=Almarai:wght@300;400&display=swap");
:root {
  // main color
  --primary-color: #4770e5;
  --secondary-color: #3aafc3;
  --success-color: #27ae60;
  --danger-color: #eb5757;
  --warning-color: #e2b93b;
  --info-color: #2f80ed;
  --light-color: #e5f4f7;
  --dark-color: #001233;
  // gray-color
  --gray-100: #000000;
  --gray-200: #5c677d;
  --gray-300: #7d8597;
  --gray-400: #979dac;
  --gray-500: #c5c8d0;
  --gray-600: #e5e6e9;
  --gray-700: #fafafa;
  --white-color: #ffffff;
  --body-color: #ffffff;
  --body-font: "Almarai", sans-serif;
  --heading-font: "Alata", sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  // fontSize
  --normal-font-size: 15px;
  --small-font-size: 14px;
  --smaller-font-size: 13px;
  @media screen and (min-width: 992px) {
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
  }
}

// selection
*::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}
// custrom Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color:  #333333;
  background-color: var(--body-color);
  letter-spacing: -0.009em;
}
p {
  margin: 0;
  line-height: 22.4px;
}
hr {
  border: none;
  height: 0.5px;
  background: #eeeeee;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--gray-100);
  font-weight: 400;
  font-family: var(--heading-font);
}
.h1,
h1 {
  font-size: 62px;
  line-height: 74.4px;
  @include media-breakpoint-down(lg) {
    font-size: 36px;
    line-height: 43px;
  }
}
.h2,
h2 {
  font-size: 40px;
  @include media-breakpoint-down(lg) {
    font-size: 30px;
  }
}
button {
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}
.btn {
  padding: 13px 43px;
  background: rgba(43, 224, 145, 1);
  color: var(--white-color);
  font-size: 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    background: rgb(17, 185, 113);
  }
  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.p-5 {
  padding: 3rem;
}
.ml-auto {
  margin-left: auto;
}
.sp-10 {
  margin-top: 10px !important;
}
.sp-12{
  margin-top: 12px !important;
}
.sp-15 {
  margin-top: 15px !important;
}
.sp-20 {
  margin-top: 20px !important;
}
.sp-30 {
  margin-top: 30px !important;
}
.sp-40 {
  margin-top: 40px !important;
}
.sp-50 {
  margin-top: 50px !important;
}
.sp-60 {
  margin-top: 60px !important;
}
.p-0 {
  padding: 0 !important;
}
.m-0 {
  margin: 0 !important;
}

.bg-primary {
  background: var(--primary-color) !important;
}
.bg-secondary {
  background: var(--secondary-color) !important;
}

.bg-success {
  background: var(--success-color) !important;
}
.bg-danger {
  background: var(--danger-color) !important;
}
.bg-warning {
  background: var(--warning-color) !important;
}
.bg-info {
  background: var(--info-color) !important;
}
.bg-light {
  background: var(--light-color) !important;
}
.bg-dark {
  background: var(--dark-color) !important;
}
.m-0 {
  margin: 0;
}
.d-none {
  display: none;
}
.lg-show {
  @include media-breakpoint-up(lg) {
    display: none !important;
  }
}
.d-flex {
  display: flex;
}
.jcc{
  justify-content: space-between;
}
.aic{
  align-items: center;
}
.w100 {
  width: 100% !important;
}
.w50{
  width: 50%;
}
.w-20{
  width: 20px;

}
.w-2{
  width: 2px;

}
.w-10{
  width: 10px;

}
.w-15{
  width: 15px;

}
.w-105{
  width: 105px !important;
}
.w-170{
  width: 170px;
}
.mb-120{
  margin-bottom: 120px !important;
  @include media-breakpoint-down(lg) {
    margin-bottom: 60px !important;
  }
  
}
// ============================
// ********* Container ********
// ============================
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm,
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md,
  .container-sm,
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1320px;
  }
}
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%
}
// ============================
// ******* Main SCSS ********
// ============================
.assurato {
  overflow-x: hidden;
  width: 100%;
  .login-screen {
    .header {
      background: #e8f9fc;
      .nav-bar {
        background: #e8f9fc;
        @include media-breakpoint-down(lg) {
          background: #e8f9fc;
        }
      }
    }
    .banner {
      padding: 30px 0 118px 0;

      @include media-breakpoint-down(lg) {
        padding: 20px 0 40px 0;
      }

      .banner-area {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 90px auto;
        margin-bottom: 0;
        @include media-breakpoint-up(lg) {
          width: 60%;
          text-align: center;
        }
        .title {
          margin-bottom: 40px;
          color: var(--primary-color);
          @include media-breakpoint-down(lg) {
            margin-bottom: 15px;
          }
        }
        .dis {
          margin-bottom: 20px;
        }
      }
    }
  }
  // ------- Navbar Sec ---------

  .header {
    z-index: 999;
    position: relative;
    .nav-bar {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      background: rgb(255, 255, 255);
      // top app bar
      .top-appbar {
        border-bottom: 1px solid rgba(71, 112, 229, 0.24);
        @include media-breakpoint-down(lg) {
          display: none;
        }

        .nav-items {
          display: flex;
          justify-content: end;
          margin: 0;
          padding: 0;
          .nav-item {
            .link {
              padding-left: 10px;
              padding-right: 10px;
              font-size: var(--smaller-font-size);
              padding-top: 15px;
              padding-bottom: 15px;
              display: inline-block;
              width: 100%;
              color:#333333;
              &:hover {
                color: #507fff;
              }
              svg {
                margin-left: 4px;
              }
            }
            &.sub-menu {
              z-index: 99999;

              position: relative;
              .nav-items {
                display: none;
                position: absolute;
                top: 44px;
                right: -10px;
                min-width: 130px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                background: var(--white-color);
                border-radius: 6px;
                .nav-item {
                  &:first-child {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                  }
                  &:last-child {
                    border-bottom-left-radius: 6px;
                    border-bottom-right-radius: 6px;
                  }
                  &:hover {
                    background: var(--primary-color);
                    color: #ffffff;
                    .link {
                      color: #ffffff;
                    }
                  }
                }
              }
              &:hover {
                .nav-items {
                  display: block;
                }
              }
            }
          }
        }
      }
      // app bar
      .appbar {
        &.sticky{
          background-color:  #E8F9FC;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
          
        }
        // &.shadow {
        //   box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        // }
        .appbar-area {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          @include media-breakpoint-down(lg) {
            padding: 20px 0;
          }

          // background: rgb(255, 255, 255);

          .nav-brand {
            display: flex;
            align-items: center;
            color: var(--primary-color);
            cursor: pointer;
            img {
              width: 26.11px;
              height: 25.91px;
              margin-right: 5px;
            }
          }
          .bars {
            display: flex;
            align-items: center;
            @include media-breakpoint-up(lg) {
              display: none;
            }
            svg {
              color: var(--primary-color);
              width: 23px;
              height: 16px;
            }
          }
          .nav-items {
            display: flex;
            padding: 0;
            @include media-breakpoint-down(lg) {
              flex-direction: column;
              flex-basis: 100%;
              display: none;
              width: 100%;
              top: 71px;
              margin-top: 40px;
              margin-bottom: 0;
            }
            .nav-item {
              .link {
                padding: 10px 15px;
                margin-left: 2px;
                transition: all 0.3s ease-in-out;
                display: inline-block;
                border-radius: 6px;
                color:#333333;
                &.active,
                &:hover {
                  background: var(--primary-color);
                  color: var(--white-color);
                  border-radius: 6px;
                }
                @include media-breakpoint-down(lg) {
                  width: 100%;
                  &.active,
                  &:hover {
                    background: none;
                    color: rgb(2, 68, 211);
                    font-weight: 600;
                  }
                }
              }
            }
          }
          .mobile-topbar {
            // background-color: red;
            margin: 0;
            .nav-item {
              &.sub-menu {
                .fa-angle-down {
                  margin-left: 16px;
                }
                .nav-items {
                  display: none;
                  background-color: rgb(255, 255, 255);
                  border-radius: 6px;
                  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                  margin: 0;
                  &.show {
                    display: block;
                  }
                }
              }
            }
          }
        }
        @include media-breakpoint-down(lg) {
          &.show .nav-items {
            display: block;
          }
        }
      }
    }
  }
  // ------- login-med Section ------
  .login-med-main {
    margin-bottom: 97px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 60px;
    }

    .login-med-area {
      // hreader
      .login-med-header {
        @include media-breakpoint-down(lg) {
          position: relative;
          .login-med-header-btns.show {
            display: block;
          }
        }

        .login-med-header-top {
          height: 55px;
          background: var(--primary-color);
          color: var(--white-color);
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.3s ease-in-out;
          cursor: pointer;
          &:hover {
            background: #386af3;
          }
          @include media-breakpoint-up(lg) {
            display: none;
          }

          cursor: pointer;
          .login-med-select {
            margin-right: 5px;
          }
          svg {
            font-size: 10px;
          }
          &:hover {
            background: #386af3;
          }
        }
        .login-med-header-btns {
          @include media-breakpoint-down(lg) {
            position: absolute;
            width: 100%;
            top: 57px;
            display: none;
            z-index: 9;
          }

          ul {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            @include media-breakpoint-down(lg) {
              flex-direction: column;
            }

            li {
              background: var(--white-color);
              padding-top: 22px;
              padding-bottom: 24px;
              width: 100%;
              text-align: center;
              border: 1px solid #f7f7f7;
              color: var(--primary-color);
              cursor: pointer;
              transition: all 0.3s ease;
              &:nth-child(2) {
                border-right: none;
              }
              &.active {
                border: 1px solid var(--primary-color);
                background: var(--primary-color);
                color: var(--white-color);
              }
              &:hover {
                border: 1px solid #356afd;
                background: #356afd;
                color: var(--white-color);
              }
            }
          }
        }
      }
      //  Footer
      .login-med-footer {
        margin-top: 127px;
        @include media-breakpoint-down(lg) {
          margin-top: 60px;
        }

        display: none;
        &.show {
          display: block;
        }
        .login-med-footer-area {
          display: flex;
          gap: 128px;
          @include media-breakpoint-down(xxl) {
            gap: 80px;
          }
          @include media-breakpoint-down(lg) {
            flex-direction: column;
            gap: 40px;
          }

          .left {
            width: 100%;
            background: #f7f7f7;
            padding: 80px;
            border-radius: 12px;
            @include media-breakpoint-down(xl) {
              padding: 40px;
            }

            input[type="button"] {
              background: #2be091;
              font-family: "Almarai";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              transition: all 0.3s ease;
              &:hover {
                background: #23f59a;
              }
            }
          }
          .right {
            .text {
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
  // ------- Footer Sec ---------
  .footer {
    background: #124b75;
    padding-top: 83px;
    padding-bottom: 83px;
    @include media-breakpoint-down(lg) {
      padding-top: 30px;
      padding-bottom: 3px;
      text-align: center;
    }

    .footer-area {
      display: flex;
      flex-direction: column;
      // align-items: center;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
        // align-items: flex-start;
      }

      .footer-item {
        margin-bottom: 30px;
        &.brand-footer {
          margin-bottom: 30px;
          @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
            margin-bottom: auto;
            height: 216px;
          }
        }

        &:last-child {
          ul {
            &:last-child {
              padding-bottom: 0px;
            }
          }
        }
        ul {
          display: flex;
          flex-direction: column;
        
          padding-left: 0;
          padding-bottom: 3px;
          margin: 0;
          @include media-breakpoint-down(lg) {
            align-items: center;
          }
          
          li {
            color: var(--white-color);
            line-height: 19px;
            .link {
              color: var(--white-color);
              transition: all 0.3s ease-in;
              padding-top: 5px;
              padding-bottom: 5px;
              display: inline-block;
              &:hover {
                color: var(--gray-500);
              }
            }
          }
        }
        &.social-icon {
          ul {
            flex-direction: column;
            .text {
              @include media-breakpoint-down(lg) {
              }
            }
            .footer-icon {
              font-size: 20px;
              display: none;
              padding-left: 11px;
              padding-right: 11px;
            }
          }
        }
      }
    }
  }
  // main Screen
  .title-sp{
    padding-bottom: 83px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 40px;
    }
    
  }
  // ================= hreader-goes-sec ===========
  .header-goes-sec {
    text-align: center;
    margin-top: 63px;
    @include media-breakpoint-up(lg) {
      margin-top: 120px;
    }

    .header-goes-sec-area {
      .title {
        font-weight: 400;
        font-size: 40px;
        line-height: 45px;
        margin-bottom: 60px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 40px;
        }
      }
      .card-items {
        display: grid;
        @include media-breakpoint-up(xl) {
          grid-template-columns: repeat(3, 314px);
          justify-content: space-between;
        }
        @include media-breakpoint-down(xl) {
          grid-template-columns: repeat(3, 1fr);
          gap: 50px;
        }
        @include media-breakpoint-down(lg) {
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
        }
        @include media-breakpoint-down(md) {
          grid-template-columns: repeat(1, 330px);
          justify-content: center;
        }
        .item {
          .avatar {
            width: 69px;
            height: 69px;
            background: var(--primary-color);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            margin-bottom: 20px;

            svg {
              color: var(--white-color);
              font-size: 19px;
            }
            @include media-breakpoint-down(md) {
              width: 59px;
              height: 59px;
            }
          }
          .card-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 22px;
            @include media-breakpoint-down(lg) {
              font-size: 18px;
            }
          }
          .dis {
            margin-top: 20px;
          }
        }
      }
      // img-items
      .img-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        margin-top: 97px;
        @include media-breakpoint-down(md) {
          grid-template-columns: repeat(1, 1fr);
          margin-top: 60px;
        }

        .item {
          background: red;
          position: relative;
          .item-area {
            height: 100%;
            &::after {
              content: "";
              background-color: rgba(18, 76, 117, 0.26);
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              position: absolute;
              transition: all 0.3s ease-in;
            }
            &:hover::after {
              background-color: rgba(18, 76, 117, 0.39);
            }
          }

          img {
            width: 100%;
            height: 100%;
          }
          .img-title {
            position: absolute;
            font-weight: 400;
            color: var(--white-color);
            font-size: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 80%;
            z-index: 9;
            @include media-breakpoint-down(lg) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  // ========brand-logo======
  .brand-logo {
    padding-bottom: 60px;

    .area {
      .title {
        text-align: center;
        margin-bottom: 60px;
      }
      .logoes {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        justify-content: space-between;
        @include media-breakpoint-down(lg) {
          grid-template-columns: repeat(4, 1fr);
        }
        @include media-breakpoint-down(sm) {
          grid-template-columns: repeat(2, 1fr);
        }

        img {
          width: 86px;
          @include media-breakpoint-down(lg) {
            width: 46px;
          }
        }
        .brand-img {
          background: #f7f7f7;
          height: 155px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          transition: all 0.3s ease;
          &:hover {
            background: #e0e0e0;
          }
        }
      }
    }
  }
  // sammenlign-sec
  .sammenlign-sec {
    padding-top: 120px;
    padding-bottom: 140px;
    @include media-breakpoint-down(lg) {
      padding-top: 60px;
      padding-bottom: 70px;
    }

    .area {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(1, 1fr);
      }

      .left {
        padding-right: 90px;
        @include media-breakpoint-down(lg) {
          margin-bottom: 40px;
          padding-right: 0;
        }

        .title {
          line-height: 47px !important;
          margin-bottom: 30px;
        }
        .dis {
          margin-bottom: 30px;
        }
        .btn {
          border-radius: 6px;
          display: inline-block;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        padding-left: 60px;
        gap: 35px;
        @include media-breakpoint-down(lg) {
          padding-left: 0;
        }

        .right-row {
          display: flex;
          align-items: center;

          @include media-breakpoint-down(lg) {
            flex-direction: row;
            gap: 10px;
          }

          .avatar {
            width: 69px;
            height: 69px;
            border-radius: 50%;
            background: var(--primary-color);
            font-family: "Almarai";
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 28px;
            color: var(--white-color);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 54px;
            cursor: pointer;
            transition: all 0.3s ease;
            &:hover {
              background: #255bf1;
            }
            @include media-breakpoint-down(lg) {
              margin-right: 0;
              width: 53px;
              height: 53px;
            }
          }
          .text {
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
  }
  // Double code Section
  .double-code-sec {
    margin-bottom: 140px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }

    .area {
      display: flex;
      gap: 35px;
      @include media-breakpoint-down(lg) {
        gap: 20px;
      }

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      .item {
        background: var(--primary-color);
        padding: 40px;
        text-align: center;
        border-radius: 12px;
        color: var(--white-color);
        cursor: pointer;
        transition: all 0.3s ease-in;
        &:hover {
          background: #255bf1;
        }
        @include media-breakpoint-down(lg) {
          padding: 54px 64px;
        }

        .dis {
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: var(--normal-font-size);
          @include media-breakpoint-down(lg) {
            font-size: 16px;
          }
        }
        .title {
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          color: var(--white-color);
        }
      }
    }
  }
  // ============ start-search-screen ==========
  .start-search-screen {
    .header {
      background: #e8f9fc;
      .top-appbar {
        background: #e8f9fc;
      }
      .appbar {
        background: #e8f9fc;
      }
    }
    .banner {
      .banner-area {
        padding-top: 203px;
        text-align: center;
        @include media-breakpoint-down(lg) {
          padding-top: 96px;
        }

        .title {
          margin-bottom: 40px;
          color: var(--primary-color);
          @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
          }
        }
        .btn {
          display: inline-block;
          margin-bottom: 120px;
          border-radius: 6px;
          @include media-breakpoint-down(md) {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
  // start-search
  .hvilken-sec {
    padding-top: 41px;
    padding-bottom: 68px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 38px;
    }

    .area {
      .title {
        font-family: "Almarai";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        margin-bottom: 60px;
        @include media-breakpoint-down(lg) {
          font-size: 30px;
          line-height: 36px;
          margin-bottom: 30px;
        }
      }
      .hvilken-items {
        display: grid;
        gap: 6px;
        grid-template-columns: repeat(3, 1fr);
        @include media-breakpoint-down(lg) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-down(sm) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .btn-area {
        margin-top: 60px;
        text-align: center;
        @include media-breakpoint-down(lg) {
          margin-top: 30px;
        }

        .btn {
          display: inline-block;
          text-align: center;
          font-family: "Almarai";
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          padding: 14px 24px;
        }
      }
    }
  }
  .hvilken-items {
    cursor: pointer;
    .item {
      background-color: #f7f7f7;
      display: flex;
      padding: 14px 20px;
      align-items: center;
      transition: all 0.3s ease-in;
      position: relative;
      border-radius: 6px;

      .added {
        display: none;
      }
      .add {
        display: block;
      }
      &.active {
        background-color: #e8f9fc;
        .avatar {
          background-color: var(--primary-color);
        }
        .added {
          display: block;
        }
        .add {
          display: none;
        }
      }
      &:hover {
        background-color: rgb(199, 235, 241);
      }
      .ddd {
        margin-left: auto;
      }
      .avatar {
        background: #a4a4a4;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          color: var(--white-color);
          font-size: 16px;
        }
      }
      .r-icon {
        margin-right: 20px;
      }
      .dis {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        font-family: "Almarai";
        @include media-breakpoint-down(lg) {
          font-size: 15px;
        }
      }
    }
  }
  // ========= User Form Section ======
  .user-form-sec {
    .area {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(1, 1fr);
      }

      // left
      .left {
        // background: red;
        .udfy {
          margin-bottom: 15px;
          margin-top: 40px;
          display: block;
        }
        @include media-breakpoint-down(lg) {
          order: 2;
        }
      }
      // right
      .right {
        order: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .dis {
          padding: 40px;
          background-color: #f7f7f7;
          margin-bottom: 10px;
          border-radius: 6px;
          .text {
            margin-bottom: 22px;
          }
        }
      }
    }
  }
  // form card
  .form-card {
    background-color: #f7f7f7;
    padding: 24px 36px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #ebeaea;
    }
    .card-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
    }
  }
  // timeline
  .timeline-main {
    width: 100%;
    padding: 49px 40px 20px 40px;
    background: #f7f7f7;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 40px;
    @include media-breakpoint-down(sm) {
      padding: 3px 38px;
      height: auto;
      margin-bottom: 38px;
    }

    .timeline {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      .area {
        width: 100%;
        display: grid;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        @include media-breakpoint-down(sm) {
          grid-template-columns: repeat(1, 1fr);
        }

        .item {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 17px 0;
          color: #a4a4a4;
          .cus-line {
            width: 100%;
            height: 2px;
            background: #dddddd;
            position: absolute;
            top: -3px;
            left: 71px;
            @include media-breakpoint-down(sm) {
              height: 100%;
              width: 2px;
              left: 0;
              top: 32px;
            }
          }

          &::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            background: #ffff;
            top: -9px;
            border-radius: 50%;
            border: 4px solid #ffff;
            outline: 2px solid var(--primary-color);
            z-index: 9;
            @include media-breakpoint-down(sm) {
              top: auto;
              left: -6px;
            }
          }
          &.active {
            color: var(--primary-color);
            font-weight: 700;
            &::after {
              background: var(--primary-color);
            }
            &.complete {
              &::after {
                background: none;
                border: 4px solid var(--primary-color);
              }
              .cus-line {
                background: var(--primary-color);
              }
            }
          }
          &::before {
            content: "";
            position: absolute;
            width: 60px;
            height: 16px;
            background: #f7f7f7;
            top: -9px;
            z-index: 9;
            @include media-breakpoint-down(sm) {
              width: 15px;
              height: 60px;
              top: auto;
              left: 0;
            }
          }
          @include media-breakpoint-down(sm) {
            justify-content: start;
            padding: 27px 28px;
          }
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: start;
          &::after {
            // display:none;
            width: 2px;
            height: 80%;
            top: 10px;
            left: 0;
          }
        }
      }
    }
  }
  // Check-Box
  .form-check {
    padding-bottom: 65px;
    @include media-breakpoint-down(sm) {
      padding-bottom: 105px;
    }

    .dis {
      h5 {
        font-family: "Almarai";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
      }
      p {
        font-family: "Almarai";
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .btn-group-input {
    display: inline-block;
    input[type="button"] {
      background: #ffffff;
      border: none;
      outline: none;
      float: left;
      width: 73px;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #218ff3;
      padding-top: 12px;
      padding-bottom: 13px;
      border: 1px solid #4770e5;
      &.active {
        background: var(--primary-color);
        color: #ffffff;
      }
      &:first-child {
        border-right: none;
        border-radius: 6px 0px 0px 6px;
      }
      &:last-child {
        border-radius: 0px 6px 6px 0px;
        border-left: none;
      }
    }
  }
  //  dk-input-group
  .dk-input-group {
    width: 177px;
    display: flex;
    // border: 1px solid var(--primary-color);
    border-radius: 6px;
    overflow: hidden;
    .left-side {
      padding: 13px 8px 12px 8px;
      background-color: var(--primary-color);
      color: var(--white-color);
    }
    input[type="text"] {
      background: #ffff;
      padding-left: 12px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid #eeeeee;
      &:focus {
        border: 1px solid var(--primary-color);
        outline: none;
      }
    }
    ::placeholder {
      color: rgba(198, 233, 238, 1);
      opacity: 1;
    }
  }
  .antal-input {
    max-width: 86px;
    padding: 13px 26px 12px 35px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    &:focus {
      border: 1px solid var(--primary-color);
      outline: none;
    }
    &::placeholder {
      color: rgba(198, 233, 238, 1);
      opacity: 1;
    }
  }
  .bottom-nav-btns {
    margin-top: 158px;
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .btn {
      font-family: "Almarai";
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      padding: 14px 24px;
      border-radius: 6px;
      &.outline {
        background: var(--white-color);
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        transition: all 0.3s ease;
        &:hover {
          background: rgba(198, 233, 238, 1);
        }
      }
    }
  }
  .two-col-input {
    display: flex;
    gap: 30px;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
      .udfy {
        margin-top: 0 !important;
      }
    }
  }
  .date-input {
    display: flex;
    gap: 5px;
    input {
      padding: 14px 12px 14px 12px;
      width: 48px;
      &::placeholder {
        font-family: "Almarai";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #4770e5;
        opacity: 1;
      }
      &:last-child {
        width: 63px;
      }
    }
  }
  .input-row {
    display: flex;
    gap: 7px;
    input {
      &:first-child {
        width: 109px;
      }
      &:last-child {
        flex-grow: 1;
      }
    }
  }
  .list-of-input {
    display: flex;
    input {
      border-right: none;
      border-radius: 0;
      width: 47px;
      padding: 12px 12px;

      &:focus {
        border: 1px solid #eeeeee;
        border-right: none;
      }
      &:last-child {
        border-right: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
      }
      &.active {
        background: var(--primary-color);
        color: var(--white-color);
      }
    }
  }
  .check-row {
    display: inline-block;
    width: 100%;
    &.form-check .check-input + .check-label:before {
      top: 25px !important;
    }
    &.form-check .check-input:checked + .check-label:before {
      background: rgb(71, 112, 229);
    }
    &.form-check .check-input:checked + .check-label:after {
      top: 25px !important;
    }
    .dis-row {
      .img {
        width: 54px;
        height: 54px;
        margin-left: 7px;
        @include media-breakpoint-down(sm) {
          margin-left: 10px;
        }
      }
      display: flex;
      align-items: center;
      .check-detail {
        display: flex;
        width: 100%;

        .text {
          flex-grow: 1;
          padding-left: 10px;
        }
        .stars {
          flex-basis: 150px;
        }
        .percentage {
          flex-basis: 100px;
        }
        .stars {
          svg {
            color: #f2e900;
          }
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          gap: 10px;
          .stars {
            flex-basis: auto;
            padding-left: 20px;
          }
          .percentage {
            flex-basis: auto;
            padding-left: 20px;
          }
          .text {
            padding-left: 20px;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      &.form-check .check-input + .check-label:before {
        top: 26px !important;
      }
      &.form-check .check-input:checked + .check-label:before {
        background: rgb(71, 112, 229);
      }
      &.form-check .check-input:checked + .check-label:after {
        top: 35px !important;
      }
    }
  }

  //
  .general-info {
    border: 1px solid #eeeeee;
    border-radius: 12px;

    .header {
      padding: 20px 40px;
      background: #e8f9fc;
      border-radius: 12px 12px 0px 0px;
      @include media-breakpoint-down(lg) {
        padding: 20px;
      }

      .title {
        font-family: "Alata";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 5px;
        @include media-breakpoint-down(lg) {
          font-size: 24px;
        }
      }
    }
    .sub-header {
      padding: 26px 40px;
      display: flex;
      gap: 30px;
      @include media-breakpoint-down(lg) {
        flex-direction: column;
        gap: 20px;
      }
      @include media-breakpoint-down(lg) {
        padding: 20px;
      }

      h6 {
        font-family: "Almarai";
        font-weight: 400;
        font-size: var(--normal-font-size);
        line-height: 18px;
        color: #000000;
        margin-bottom: 10px;
      }
      p {
        font-family: "Almarai";
        font-weight: 400;
        font-size: var(--normal-font-size);
        line-height: 18px;
        color: #cccccc;
      }
    }
    .content {
      padding: 40px;
      @include media-breakpoint-down(lg) {
        padding: 20px;
      }
    }
    .form-check {
      padding-bottom: 20px;
      padding-top: 40px;
      @include media-breakpoint-down(lg) {
        padding-top: 20px;
      }
    }
  }
  .under-acc-title {
    font-family: "Almarai";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 30px;
    display: block;
    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
  }
  .start-search-screen-2 {
    .dk-input-group,
    .input-width {
      width: 347px !important;
      @include media-breakpoint-down(md) {
        width: 100% !important;
      }
    }
    .bottom-nav-btns {
      margin-top: 80px;
      margin-bottom: 120px;
      @include media-breakpoint-down(lg) {
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }
  }
  .gray-label {
    color: #cccccc !important;
  }
  .password_input{
    position: relative;
    .pass_icon{
      position: absolute;
      right:20px;
      top: 50%;
      width: 20px;
      height: 20px;
     transform: translateY(-50%);
     svg{
      color: #A4A4A4;
     }
    }
  }

}
