@mixin checked-color($color) {
  box-shadow: 2px 0 0 $color, 4px 0 0 $color, 4px -2px 0 $color,
    4px -4px 0 $color, 4px -6px 0 $color, 4px -8px 0 $color;
  background: $color;
}



.assurato{
    // accordion
    .custom-accordion{
        ul.accordion-list {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
            margin: 0;
            list-style: none;
            background-color: #ffffff;
            padding: 0;
            
            li {
              position: relative;
              display: block;
              width: 100%;
              height: auto;
              background-color: rgb(255, 255, 255);
              margin: 0 auto 0 auto;
              border-bottom: 1px solid #eee;
              border-left: 1px solid #eee;
              border-right: 1px solid #eee;
              // border-radius: 5px;
              
              &:last-child{
                border-radius:  0 0 5px 5px;
                border: 1px solid #eee;
                border-top:none;
              }
              &:first-child{
                border-radius: 5px 5px 0 0;
                border: 1px solid #eee;
              }

              
              h3 {
                font-weight: 400;
                font-size: 40px;
                line-height: 54px;
              }
              
              div.answer {
                position: relative;
                display: block;
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                padding: 40px;
                
                
                p {
                  position: relative;
                  display: block;
                  font-weight: 400;
                  line-height: 150%;
                  margin: 0 0 15px 0;
                  font-size: 16px;
                }
              }
              .acc-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20px 20px 20px 40px;
                cursor: pointer;
              }
              .avatar{
                width: 40px;
                height: 40px;
                background-color:rgba(71, 112, 229, 1) ;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                svg{
                  transition: all .3s ease;
                }
                .fa-angle-down{
                  font-size: 30px;
                  color: #ffff;
                }
              }
              &.active{
                .acc-title{
                  background:#E8F9FC;
                  .avatar{
                    svg{
                      transform: rotate(-180deg);
                    }
                  }
                }
              }
            }
          }
    }
    // checkBox
    .form-check {
      height: 20px;
      margin-top: 7px;
      margin-bottom: 7px;
      position: relative;
      .check-input {
        margin: 20px 0;
        position: absolute;
        opacity: 0;
        & + .check-label {
          color: var(--gray-100);
          position: relative;
          left: 29px;
          cursor: pointer;
        }
  
        // Box.
        & + .check-label:before {
          content: "";
          margin-right: 10px;
          display: inline-block;
          vertical-align: text-top;
          width: 20px;
          height: 20px;
          border: 1px solid #e5e6e9;
          border-radius: 4px;
          background: #ffffff;
          position: absolute;
          top: -2px;
          left: -29px;
        }
  
        // !Box checked color
        &:checked + .check-label:before {
          background: rgba(71, 112, 229, 1);
        }
  
        &.secondary:checked + .check-label:before {
          background: var(--secondary-color);
        }
        &.secondary2:checked + .check-label:before {
          background: var(--secondary2-color);
        }
        &.success:checked + .check-label:before {
          background: var(--success-color);
        }
        &.warning:checked + .check-label:before {
          background: var(--warning-color);
        }
        &.danger:checked + .check-label:before {
          background: var(--danger-color);
        }
        &.info:checked + .check-label:before {
          background: var(--info-color);
        }
        &.dark:checked + .check-label:before {
          background: var(--dark-color);
        }
        // outline border
        &.outline:checked + .check-label:before {
          background: none;
          border: 1px solid var(--gray-100);
        }
        &.outline.secondary:checked + .check-label:before {
          background: none;
          border: 1px solid var(--secondary-color);
        }
        &.outline.secondary2:checked + .check-label:before {
          background: none;
          border: 1px solid var(--secondary2-color);
        }
        &.outline.success:checked + .check-label:before {
          background: none;
          border: 1px solid var(--success-color);
        }
        &.outline.warning:checked + .check-label:before {
          background: none;
          border: 1px solid var(--warning-color);
        }
        &.outline.danger:checked + .check-label:before {
          background: none;
          border: 1px solid var(--danger-color);
        }
        &.outline.info:checked + .check-label:before {
          background: none;
          border: 1px solid var(--info-color);
        }
        &.outline.dark:checked + .check-label:before {
          background: none;
          border: 1px solid var(--dark-color);
        }
        // Disabled state .check-label.
        &:disabled + .check-label {
          color: var(--gray-400);
          cursor: auto;
        }
  
        // Disabled box.
        &.only-disabled:disabled + .check-label:before {
          box-shadow: none;
          background: none;
        }
        &:disabled + .check-label:before {
          box-shadow: none;
          background: var(--gray-400);
        }
        //   outline border
        &.outline:disabled + .check-label:before {
          box-shadow: none;
          background: none;
          border: 1px solid var(--gray-400);
        }
        // Checkmark. Could be replaced with an image
        &:checked + .check-label:after {
          content: "";
          position: absolute;
          left: -24px;
          top: 7px;
          width: 2px;
          height: 2px;
          @include checked-color($color: var(--white-color));
          transform: rotate(45deg);
        }
        // out line checked color
  
        &.outline:checked + .check-label:after {
          @include checked-color($color: var(--gray-100));
        }
        &.outline.secondary:checked + .check-label:after {
          @include checked-color($color: var(--secondary-color));
        }
        &.outline.secondary2:checked + .check-label:after {
          @include checked-color($color: var(--secondary2-color));
        }
        &.outline.success:checked + .check-label:after {
          @include checked-color($color: var(--success-color));
        }
        &.outline.warning:checked + .check-label:after {
          @include checked-color($color: var(--warning-color));
        }
        &.outline.danger:checked + .check-label:after {
          @include checked-color($color: var(--danger-color));
        }
        &.outline.info:checked + .check-label:after {
          @include checked-color($color: var(--info-color));
        }
        &.outline.dark:checked + .check-label:after {
          @include checked-color($color: var(--dark-color));
        }
        //   disabled checked color
        &.outline:disabled + .check-label:after {
          @include checked-color($color: var(--gray-400));
        }
      }
    }
    
}