@import "./media_queries/include-media";

@import url("https://fonts.googleapis.com/css2?family=Alata&family=Almarai:wght@300;400&display=swap");
:root {
  // main color
  --primary-color: #4770e5;
  --secondary-color: #3aafc3;
  --success-color: #27ae60;
  --danger-color: #eb5757;
  --warning-color: #e2b93b;
  --info-color: #2f80ed;
  --light-color: #e5f4f7;
  --dark-color: #001233;
  // gray-color
  --gray-100: #000000;
  --gray-200: #5c677d;
  --gray-300: #7d8597;
  --gray-400: #979dac;
  --gray-500: #c5c8d0;
  --gray-600: #e5e6e9;
  --gray-700: #fafafa;
  --white-color: #ffffff;
  --body-color: #ffffff;
  --body-font: "Almarai", sans-serif;
  --heading-font: "Alata", sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  // fontSize
  --normal-font-size: 15px;
  --small-font-size: 14px;
  --smaller-font-size: 13px;
  @media screen and (min-width: 992px) {
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
  }
}

// selection
*::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}
// custrom Scrollbar
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--gray-100);
  background-color: var(--body-color);
  letter-spacing: -0.009em;
}
p {
  margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--gray-100);
  font-weight: 400;
  font-family: var(--heading-font);
}
.h1,
h1 {
  font-size: 62px;
  @include media-breakpoint-down(lg) {
    font-size: 40px;
  }
} 
.h2,h2{
  font-size: 40px;
  @include media-breakpoint-down(lg) {
    font-size: 30px;
  }
}
button {
  border: none;
  outline: none;
  &:focus {
    border: none;
    outline: none;
  }
}
.btn{
  padding: 13px 43px;
  background: rgba(43, 224, 145, 1);
  color: var(--white-color);
  font-size: 25px;
  cursor: pointer;
  transition: all .3s ease;
  &:hover{
    background: rgb(17, 185, 113);
  }
  @include media-breakpoint-down(lg) {
    font-size: 16px;
  }
  
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.p-5 {
  padding: 3rem;
}
.ml-auto{
  margin-left: auto;
}
.bg-primary {
  background: var(--primary-color) !important;
}
.bg-secondary {
  background: var(--secondary-color) !important;
}

.bg-success {
  background: var(--success-color) !important;
}
.bg-danger {
  background: var(--danger-color) !important;
}
.bg-warning {
  background: var(--warning-color) !important;
}
.bg-info {
  background: var(--info-color) !important;
}
.bg-light {
  background: var(--light-color) !important;
}
.bg-dark {
  background: var(--dark-color) !important;
}
.d-none {
  display: none;
}
// ============================
// ********* Container ********
// ============================
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

// ============================
// ******* Main SCSS ********
// ============================
.assurato {

  .login-screen{
    .banner{
      padding: 30px 0 100px 0;
      @include media-breakpoint-down(lg) {
        padding: 20px 0 70px 0;
      }
      
      .banner-area{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 215px;
    
        @include media-breakpoint-up(lg) {
          width: 60%;
          text-align: start;

        }
        .title{
          margin-bottom: 55px;
          color: var(--primary-color);
        }
        .dis{
          margin-bottom: 20px;
        }
      }
    }
  }
// ------- Navbar Sec ---------

.header{
  position: relative;
  .nav-bar{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: rgb(255, 255, 255);
    // top app bar
    .top-appbar{
      border-bottom: .5px solid var(--primary-color);
      .nav-items{
        display: flex;
        justify-content: end;
        margin: 0;
        padding: 0;
        .nav-item{
  
          .link{
            padding-left: 10px;
            padding-right: 10px;
            font-size: var(--smaller-font-size);
            padding-top: 15px;
            padding-bottom: 15px;
            display: inline-block;
            width: 100%;
            &:hover{
              color:#507fff;
            }
            svg{
              margin-left: 4px;
            }
          }
          &.sub-menu{
            z-index: 999;
            
           position: relative;
            .nav-items{
              display: none;
              position: absolute;
              top: 44px;
              right: -10px;
              min-width: 130px;
              box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
              background: var(--white-color);
              .nav-item{
                .link{
                  padding: 12px 15px;
                  &:hover{
                    background: var(--primary-color);
                    color: #ffffff;
                  }
                }
              }
            }
            &:hover{
              .nav-items{
                display: block;
  
              }
            }
          }
        }
      }
    }
    // app bar
    .appbar{
  
      .appbar-area{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-wrap: wrap;
        // background: rgb(255, 255, 255);
        
        .nav-brand{
          display: flex;
          align-items: center;
          img{
            width: 26.11px;
            height: 25.91px;
            margin-right: 5px;
          }
  
        }
        .bars{
          display: flex;
          align-items: center;
          @include media-breakpoint-up(lg) {
            display: none;
          }
          svg{
            color: var(--primary-color);
            width: 23px;
            height: 16px;
  
          }
        }
        .nav-items{
          display: flex;
        padding: 0;
        @include media-breakpoint-down(lg) {
                flex-direction: column;
                flex-basis: 100%;
                display: none;
                width: 100%;
                top: 71px;
        }
          .nav-item{
            .link{
              padding: 10px 15px;
              margin-left: 2px;
              transition: all .3s ease-in-out;
              display: inline-block;
              &.active,
              &:hover{
                background:var(--primary-color);
                color: var(--white-color);
              }
              @include media-breakpoint-down(lg) {
                width: 100%;
                &.active,
                &:hover{
                  background:none;
                  color:rgb(2, 68, 211);
                  font-weight: 600;
                }
              }
              
            }
          }
        }
      }
  @include media-breakpoint-down(lg) {
    &.show .nav-items{
      display: block;
    }
  }
  
    }
  }
}
// ------- login-med Section ------
.login-med-main{
  margin-bottom: 93px;
  .login-med-area{
    // hreader
   .login-med-header{
    @include media-breakpoint-down(lg) {
      position: relative;
    .login-med-header-btns.show{
      display: block;
    }
    }
    
.login-med-header-top{
  height: 55px;
  background:rgba(232, 249, 252, 1) ;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .3s ease-in-out;
  cursor: pointer;
  &:hover{
    background:rgba(218, 233, 236, 1) ;
  }
  @include media-breakpoint-up(lg) {
    display: none;
  }
  
  cursor: pointer;
  .login-med-select{
    margin-right: 5px;
  }
  svg{
    font-size: 10px;
  }
  &:hover{
    background:rgba(218, 233, 236, 1) ;
  }
}
.login-med-header-btns{
 
  @include media-breakpoint-down(lg) {
    position: absolute;
    width: 100%;
    top: 57px;
    display: none;
  }
  
  ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }
    
    li{
      background:rgba(232, 249, 252, 1) ;
      padding-top: 22px;
      padding-bottom: 24px;
      width: 100%;
      text-align: center;
      border-right:1px solid var(--primary-color) ;
      cursor: pointer;
      @include media-breakpoint-down(lg) {
        border: none;
      }
      
      &:last-child{
        border-right: none;
      }
      &.active{
        background:rgba(218, 233, 236, 1) ;
      }
      &:hover{
        background:rgba(218, 233, 236, 1) ;
      }
    }
  }
}
   } 
  //  Footer
  .login-med-footer{
    margin-top: 39px;
    display: none;
    &.show{
      display: block;
    }
    .login-med-footer-area{
      display: flex;
      gap: 18px;
      .left{
        width: 100%;
      
        img{
          @include media-breakpoint-down(lg) {
            width: 100%;
          }
          
        }
      }
      .right{
        background: #F7F7F7;
        height: 432px;
        padding: 42px 13px 42px 28px;
        @include media-breakpoint-down(lg) {
          display: none;
        }
        
        .text{
          margin-bottom: 24px;

        }
      }
    }
  }

  }
}
// ------- Footer Sec ---------
.footer{
    background: #124B75;
    padding-top: 83px;
    padding-bottom: 83px;
 
    .footer-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-breakpoint-up(lg) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
        
        .footer-item{
            &.brand-footer{
                margin-bottom: 32px;
                @include media-breakpoint-up(lg) {
                    display: flex;
                    align-items: center;
                    margin-bottom: auto;
                    height:216px;

                }
                
            }

            order: 1;
            &:last-child{     
                ul{          
                    &:last-child{
                        padding-bottom: 0px;
                    }
                }
            }
            ul{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 0;
                padding-bottom: 3px;
                @include media-breakpoint-up(lg) {
                    align-items: flex-start;
                }
                
               

                li{
                    color: var(--white-color);
                    line-height: 19px;
                    .link{
                        color: var(--white-color);
                        transition: all .3s ease-in;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        display: inline-block;
                        &:hover{
                            color: var(--gray-500);
                        }
                    }
                }
            }
            &.social-icon{
                ul{
                    flex-direction: row;
                    .text{
                        @include media-breakpoint-down(lg) {
                            display: none;
                        }
                        
                    }
                    .footer-icon{
                        font-size: 20px;
                        display: none;
                        padding-left: 11px;
                        padding-right: 11px;
                        @include media-breakpoint-down(lg) {
                            display: block;
                        }
                        
                    }
                    @include media-breakpoint-up(lg) {
                        flex-direction: column;
                    }
                    
                }

            }
            @include media-breakpoint-up(lg) {
                &:nth-child(1){
                    order: 0;
                }    
                &:nth-child(5){
                    order: 0;
                }
            }
            
            
          
            
        }
    }
}
// main Screen
.main-screen{
  .header{
    background-image: url(../img/banner.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--white-color);
    .header-area{
      background: rgba(18, 76, 117, 0.322);
    }
    h1{
      color: var(--white-color);
    }
    .banner{
      .banner-area{
        padding-top: 215px;
        text-align: center;
        .dis{
          margin-top: 50px;
          font-size: 25px;
          margin-bottom: 47px;
          @include media-breakpoint-down(lg) {
            font-size: 18px;
          }
          
        }
        .ban-btn{
          padding-top: 81px;
          padding-bottom: 91px;
          button{
            width: 332px;
            padding: 20px 25px;
            background: rgba(43, 224, 145, 1);
            color: var(--white-color);
            font-size: 25px;
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
              background: rgb(17, 185, 113);
            }
          }
          @include media-breakpoint-down(md) {
            padding-top: 41px;
            padding-bottom: 59px;
            button{
              width: 160px;
              padding: 17px 25px;
              font-size: 16px;
            }
          }
          
        } 
      }
      
     }
    .nav-bar{
      background: transparent;
      @include media-breakpoint-down(lg) {
        background: var(--primary-color);
      }
      

      @include media-breakpoint-down(lg) {
        .link{
          color: var(--white-color) !important;
        }
      }
      
    
      .appbar{
   
        // background: transparent;
        .appbar-area{
          background: transparent;
          .bars{
            svg{
              color: var(--white-color);
            }
          }
          .nav-brand{
            color: var(--white-color);
          }
        }
      }
    }

  }
}
// box-items
.box-items{
  max-width: 916px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,1fr);
  gap:53px ;
  @include media-breakpoint-down(lg) {
    grid-template-columns: repeat(2 , 1fr);
    gap: 16px;
  }
  @include media-breakpoint-down(sm) {
    grid-template-columns: repeat(1 , 1fr);
  }
  
  .item{
    padding: 36px 10px 26px 10px;
    background: var(--primary-color);
    border-radius:23px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    transition: all .3s ease-in;
    cursor: pointer;
    &:hover{
      background: #255bf1;
    }
    @include media-breakpoint-down(lg) {
      flex-direction: row;
      padding: 15px 26px;
      border-radius:17px ;

    }
    @include media-breakpoint-down(sm) {
      margin-left: 50px;
      margin-right: 50px;
    }
    
    .icon{
      margin-bottom: 20px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
        margin-right: 22px;
      }
      
    }
    .text{
      font-size: 18px;
    }
  }
}
// ================= hreader-goes-sec ===========
.header-goes-sec{
  text-align: center;
  margin-top: 63px;
.header-goes-sec-area{
  .title{
    font-weight: 400;
    font-size: 40px;
   line-height: 45px;
   margin-bottom: 52px;   
  }
  .card-items{
    display: grid;
    @include media-breakpoint-up(xl) {
      grid-template-columns: repeat(3, 314px);
      justify-content: space-between;
    }
    @include media-breakpoint-down(xl) {
      grid-template-columns: repeat(3, 1fr);
      gap:50px ;
    }
    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
      gap:50px ;
    }
    @include media-breakpoint-down(md) {
      grid-template-columns: repeat(1, 330px);
      justify-content: center;
    }
    .item{
      .avatar{
        width: 69px;
        height: 69px;
        background: var(--primary-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 29px;

        svg{
          color: var(--white-color);
          font-size: 19px;
        }
        @include media-breakpoint-down(md) {
          width: 59px;
          height: 59px;
        }
        
      }
      .card-title{
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        @include media-breakpoint-down(lg) {
          font-size: 18px;
        }
        
      }
      .dis{
        margin-top: 12px;
      }
    }

  }
  // img-items
  .img-items{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 29px;
   margin-top: 150px;
   @include media-breakpoint-down(md) {
   grid-template-columns: repeat(1, 1fr);

   }
   
    .item{
      position: relative;
      .item-area{
        &::after{
          content: '';
          background-color:rgba(18, 76, 117, 0.26);
          ;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
          position: absolute;
          transition: all .3s ease-in;
        }
        &:hover::after{
          background-color:rgba(18, 76, 117, 0.39);

        }
      }

      img{
        width: 100%;
      }
      .img-title{
        position: absolute;
        font-weight: 400;
        color: var(--white-color);
        font-size: 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        z-index: 9;
        @include media-breakpoint-down(lg) {
          font-size: 20px;
        }
        

      }
    }
  }
}
}
// kom-i-gang-sec
.kom-i-gang-sec{
  padding: 119px 0 98px 0;
  @include media-breakpoint-down(g) {
    padding: 55px 0 68px 0;
  }
  
 
  .area{
    text-align: center;
    .title{
      width: 507px;
      margin: 0 auto;
      margin-bottom: 30px;
      @include media-breakpoint-down(lg) {
        width: 100%;
      }
      
    }
    .dis{
      width: 702px;
      margin: 0 auto;
      font-size: 25px;
      @include media-breakpoint-down(lg) {
        width: 100%;
        font-size: 16px;
      }
      
    }
    .btn{
      margin-top: 105px;
      display: inline-block;
      @include media-breakpoint-down(lg) {
        margin-top: 35px;
      }
      
    }
  }
}
// ========brand-logo======
.brand-logo{
  background:#F7F7F7 ;
  padding-bottom: 70px;
  padding-top: 275px;
  .area{
    .title{
      text-align: center;
      margin-bottom: 50px;
    }
    .logoes{
      display: grid;
      grid-template-columns: repeat(5,86px);
      gap: 72px;
      justify-content: space-between;
      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(4,46px);
      }
      @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(3,46px);
      }
      
      img{
        width: 86px;
        @include media-breakpoint-down(lg) {
          width: 46px;
          
        }
        
      }
    }

  }
}
// sammenlign-sec
.sammenlign-sec{
  padding: 150px 0;
  .area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(1,1fr);
    }
    
    .left{
      padding-right: 90px;
      @include media-breakpoint-down(lg) {
        text-align: center;
        margin-bottom: 72px;
        padding-right: 0;
      }
      
      .title{
        line-height: 47px !important;
        margin-bottom: 30px;
      }
      .dis{
        margin-bottom: 30px;
      }
      .btn{
        display: inline-block;
      }
    }
    .right{
      display: flex;
      flex-direction: column;
      padding-left: 60px;
      gap: 35px;
      @include media-breakpoint-down(lg) {
        padding-left: 0;
      }
      
      .right-row{
        display: flex;
        align-items: center;
       
        @include media-breakpoint-down(lg) {
          flex-direction: column;
          gap: 10px;
          
        }
        
       
        .avatar{
          width: 69px;
          height: 69px;
          border-radius: 50%;
          background: var(--primary-color);
          font-family: 'Almarai';
          font-style: normal;
          font-weight: 700;
          font-size: 25px;
          line-height: 28px;
          color: var(--white-color);
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 54px;
          cursor: pointer;
          transition: all .3s ease;
          &:hover{
            background: #255bf1;
          }
          @include media-breakpoint-down(lg) {
            margin-right: 0;
            width: 53px;
            height: 53px;
          }
          
        }
        .text{
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}
// Double code Section
.double-code-sec{
  margin-bottom: -170px;
  .area{
    display: flex;
    gap: 35px;
    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
    
    .item{
      background: var(--primary-color);
      padding: 54px 23px;
      text-align: center;
      color: var(--white-color);
      cursor: pointer;
      transition: all .3s ease-in;
      &:hover{
        background: #255bf1;
      }
      @include media-breakpoint-down(lg) {
        padding: 54px 64px;
      }
      
      .dis{
        margin-top: 35px;
        margin-bottom: 22px;
        font-size: 20px;
        @include media-breakpoint-down(lg) {
          font-size: 16px;
        }
      }
      .title{
        font-weight: 400;
        font-size: 20px;
        line-height: 22px;
        color: var(--white-color);

        
      }
    }
  }
}
// ============ start-search-screen ==========
.start-search-screen{
  .banner{
    border-bottom: 1px solid var(--primary-color);
    @include media-breakpoint-down(md) {
      border: none;
    }
    
   .banner-area{
    padding-top: 215px;
    @include media-breakpoint-down(md) {
      text-align: center;
      padding-top: 150px;
     
    }
    
    .title{
      margin-bottom: 102px;
      color: var(--primary-color);
      @include media-breakpoint-down(lg) {
        margin-bottom: 45px;
      }
      
    }
    .btn{
      display: inline-block;
      margin-bottom: 110px;
      @include media-breakpoint-down(md) {
        margin-bottom: 37px;
      }
      
    }
   }
  }
}
// start-search
.hvilken-sec{
  padding-top: 41px;
  padding-bottom: 59px;
  .area{
    .title{
      margin-bottom: 42px;
      font-weight: 400;
      font-size: 25px;
      line-height: 28px;
      color: var(--primary-color);
      @include media-breakpoint-down(md) {
        display: none;
      }
      
    }
    .hvilken-items{
      display: grid;
      gap: 5px 8px;
      grid-template-columns: repeat(3,1fr);
      @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2,1fr);
      }
      @include media-breakpoint-down(sm) {
        grid-template-columns: repeat(1,1fr);
        }
      
    }
    .btn-area{
      margin-top: 29px;
      text-align: end;
      @include media-breakpoint-down(md) {
        text-align: center;
        .btn{
          padding-left: 24px;
          padding-right: 24px;
        }
      }
      
      .btn{
        display: inline-block;
        text-align: center;
      }
    }
  
  }
}
.hvilken-items{
  .item{
    background-color: #E8F9FC;
    display: flex;
    padding: 16px 24px 16px 39px;
    align-items: center;
    transition: all .3s ease-in;
    position: relative;
    .added{
      display: none;
    }
    .add{
      display: block;
    }
    &.active{
      background-color:rgba(218, 233, 236, 1) ;
      .added{
        display: block;
      }
      .add{
        display: none;
      }

    }
    &:hover{
      background-color:rgba(218, 233, 236, 1) ;
    }
    &::after{
      content: "";
      width: 14px;
      height: 38px;
      position: absolute;
      background: var(--primary-color);
      left: 0;
    }
.ddd{
  margin-left: auto;
}
    .avatar{
      background: var(--primary-color);
      width: 31px;
      height: 31px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg{
        color: var(--white-color);
        font-size: 16px;
      }

    }
    .r-icon{
      margin-right: 25px;
    }
    .dis{
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      @include media-breakpoint-down(lg) {
        font-size: 15px;
      }
      
    }
  }
}
// ========= User Form Section ======
.user-form-sec{
  .area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 13px;
    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(1,1fr);
    }
    
    // left
    .left{
      background: red;
    }
    // right
    .right{
      display: flex;
      flex-direction: column;
      gap: 7px;
      .dis{
        padding: 42px 13px 139px 28px;
        background-color:#F7F7F7;
        .text{
          margin-bottom: 22px;
        }
      }
    }
  }
}
// form card
.form-card{
  background-color:#F7F7F7;
  padding: 65px 20px 65px 51px;
  position: relative;
  display: flex;
  align-items: center;
  .card-text{
    font-weight: 400;
    font-size: 20px;
    color: var(--primary-color);
 
  }
  &::after{
    content: "";
    position: absolute;
    width: 14px;
    height: 38px; 
    background: var(--primary-color);
    left: 0;
  }
}
// timeline
.timeline-main{
  width: 100%;
  height: 133px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  background: #F7F7F7;
  .timeline{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
.area{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0;
padding: 0;
border-top: 1px solid var(--primary-color);
.item{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 0;
  color: var(--primary-color);
  &::after{
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #ffff;
    top: -9px;
    border-radius:50% ;
    border: 4px solid #ffff;
    outline: 2px solid var(--primary-color);
  }
  &.active::after{
    background: var(--primary-color);
  }
  &::before{
    content: "";
    position: absolute;
    width: 130px;
    height: 16px;
    background: #F7F7F7;
    top: -9px;

  }
}
}

}
}

}
