.assurato {
  /*style the arrow inside the select element:*/
}
.assurato .custom-accordion ul.accordion-list {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  list-style: none;
  background-color: #ffffff;
  padding: 0;
}
.assurato .custom-accordion ul.accordion-list li {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin: 0 auto 0 auto;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
.assurato .custom-accordion ul.accordion-list li:last-child {
  border-radius: 0 0 5px 5px;
  border: 1px solid #eee;
  border-top: none;
}
.assurato .custom-accordion ul.accordion-list li:first-child {
  border-radius: 5px 5px 0 0;
  border: 1px solid #eee;
}
.assurato .custom-accordion ul.accordion-list li h3 {
  font-weight: 400;
  font-size: 40px;
  line-height: 54px;
}
@media (max-width: 991.98px) {
  .assurato .custom-accordion ul.accordion-list li h3 {
    font-size: 24px;
  }
}
.assurato .custom-accordion ul.accordion-list li div.answer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  padding: 40px;
}
.assurato .custom-accordion ul.accordion-list li div.answer p {
  position: relative;
  display: block;
  font-weight: 400;
  line-height: 150%;
  margin: 0 0 15px 0;
  font-size: 16px;
}
.assurato .custom-accordion ul.accordion-list li .acc-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 40px;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .assurato .custom-accordion ul.accordion-list li .acc-title h3 {
    font-size: 24px;
  }
}
.assurato .custom-accordion ul.accordion-list li .avatar {
  width: 40px;
  height: 40px;
  background-color: rgb(71, 112, 229);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.assurato .custom-accordion ul.accordion-list li .avatar svg {
  transition: all 0.3s ease;
}
.assurato .custom-accordion ul.accordion-list li .avatar .fa-angle-down {
  font-size: 30px;
  color: white;
}
.assurato .custom-accordion ul.accordion-list li.active .acc-title {
  background: #e8f9fc;
}
.assurato .custom-accordion ul.accordion-list li.active .acc-title .avatar svg {
  transform: rotate(-180deg);
}
.assurato .form-check {
  height: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
  position: relative;
}
.assurato .form-check .check-input {
  margin: 20px 0;
  position: absolute;
  opacity: 0;
}
.assurato .form-check .check-input + .check-label {
  color: #000000;
  position: relative;
  left: 29px;
  cursor: pointer;
}
.assurato .form-check .check-input + .check-label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  border: 1px solid #4770e5;
  border-radius: 4px;
  background: #ffffff;
  position: absolute;
  top: -2px;
  left: -29px;
}
.assurato .form-check .check-input.all-gray + .check-label:before {
  border: 1px solid #cccccc;
  background: #ffffff;
}
.assurato .form-check .check-input:checked + .check-label:before {
  background: rgb(71, 112, 229);
}
.assurato .form-check .check-input:disabled + .check-label {
  color: #979dac;
  cursor: auto;
}
.assurato .form-check .check-input.only-disabled:disabled + .check-label:before {
  box-shadow: none;
  background: none;
}
.assurato .form-check .check-input:disabled + .check-label:before {
  box-shadow: none;
  background: var(--gray-400);
}
.assurato .form-check .check-input:checked + .check-label:after {
  content: "";
  position: absolute;
  left: -24px;
  top: 7px;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 var(--white-color), 4px 0 0 var(--white-color), 4px -2px 0 var(--white-color), 4px -4px 0 var(--white-color), 4px -6px 0 var(--white-color), 4px -8px 0 var(--white-color);
  background: var(--white-color);
  transform: rotate(45deg);
}
.assurato .custom-select {
  position: relative;
  font-family: Arial;
  border: 1px solid var(--gray-600);
  border-radius: 6px;
}
.assurato .custom-select select {
  display: none; /*hide original SELECT element:*/
}
.assurato .select-selected {
  background-color: var(--whate-color);
}
.assurato .select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 18px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--gray-400) transparent transparent transparent;
}
.assurato .select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--gray-400) transparent;
  top: 13px;
}
.assurato .select-items div,
.assurato .select-selected {
  padding: 15px 18px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.assurato .select-items {
  position: absolute;
  background-color: var(--white-color);
  top: 55px;
  left: 0;
  right: 0;
  z-index: 999;
  color: var(--gray-100);
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.08));
  border-radius: 4px;
}
.assurato .select-items::after {
  position: absolute;
  content: "";
  top: -21px;
  left: 18px;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-color: transparent transparent var(--white-color) transparent;
}
.assurato .select-items div {
  padding: 12px 20px;
}
.assurato .select-items div:first-child {
  padding-top: 22px;
}
.assurato .select-items div:last-child {
  padding-bottom: 22px;
}
.assurato .select-hide {
  display: none;
}
.assurato .select-items div:hover,
.assurato .same-as-selected {
  background-color: var(--gray-700);
  border-radius: 4px;
}
.assurato .icon-input-field {
  position: relative;
  border-radius: 6px;
}
.assurato .icon-input-field label {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.assurato .icon-input-field label svg {
  color: #a4a4a4;
  font-size: 15px;
}
.assurato .icon-input-field input {
  padding-left: 50px;
  padding-right: 24px;
  background-color: #ffffff;
}
.assurato .icon-input-field input::-moz-placeholder {
  color: #a4a4a4;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.assurato .icon-input-field input:-ms-input-placeholder {
  color: #a4a4a4;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.assurato .icon-input-field input::placeholder {
  color: #a4a4a4;
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.assurato input,
.assurato .input {
  width: 100%;
  padding: 14px 20px;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.assurato input:focus,
.assurato .input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}
.assurato input::-moz-placeholder, .assurato .input::-moz-placeholder {
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #dddddd;
  opacity: 1;
}
.assurato input:-ms-input-placeholder, .assurato .input:-ms-input-placeholder {
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #dddddd;
  opacity: 1;
}
.assurato input::placeholder,
.assurato .input::placeholder {
  font-family: "Almarai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #dddddd;
  opacity: 1;
}