@import url("https://fonts.googleapis.com/css2?family=Alata&family=Almarai:wght@300;400&display=swap");
:root {
  --primary-color: #4770e5;
  --secondary-color: #3aafc3;
  --success-color: #27ae60;
  --danger-color: #eb5757;
  --warning-color: #e2b93b;
  --info-color: #2f80ed;
  --light-color: #e5f4f7;
  --dark-color: #001233;
  --gray-100: #000000;
  --gray-200: #5c677d;
  --gray-300: #7d8597;
  --gray-400: #979dac;
  --gray-500: #c5c8d0;
  --gray-600: #e5e6e9;
  --gray-700: #fafafa;
  --white-color: #ffffff;
  --body-color: #ffffff;
  --body-font: "Almarai", sans-serif;
  --heading-font: "Alata", sans-serif;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --bold: 600;
  --normal-font-size: 15px;
  --small-font-size: 14px;
  --smaller-font-size: 13px;
}
@media screen and (min-width: 992px) {
  :root {
    --normal-font-size: 16px;
    --small-font-size: 15px;
    --smaller-font-size: 14px;
  }
}

*::-moz-selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

*::selection {
  background-color: var(--primary-color);
  color: var(--white-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  margin: 0;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  color: var(--gray-100);
  background-color: var(--body-color);
  letter-spacing: -0.009em;
}

p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--gray-100);
  font-weight: 400;
  font-family: var(--heading-font);
}

.h1,
h1 {
  font-size: 62px;
}
@media (max-width: 991.98px) {
  .h1,
h1 {
    font-size: 40px;
  }
}

button {
  border: none;
  outline: none;
}
button:focus {
  border: none;
  outline: none;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.p-5 {
  padding: 3rem;
}

.bg-primary {
  background: var(--primary-color) !important;
}

.bg-secondary {
  background: var(--secondary-color) !important;
}

.bg-success {
  background: var(--success-color) !important;
}

.bg-danger {
  background: var(--danger-color) !important;
}

.bg-warning {
  background: var(--warning-color) !important;
}

.bg-info {
  background: var(--info-color) !important;
}

.bg-light {
  background: var(--light-color) !important;
}

.bg-dark {
  background: var(--dark-color) !important;
}

.d-none {
  display: none;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
.assurato .login-screen .banner {
  padding: 30px 0 100px 0;
}
@media (max-width: 991.98px) {
  .assurato .login-screen .banner {
    padding: 20px 0 70px 0;
  }
}
.assurato .login-screen .banner .banner-area {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 215px;
}
@media (min-width: 992px) {
  .assurato .login-screen .banner .banner-area {
    width: 60%;
    text-align: start;
  }
}
.assurato .login-screen .banner .banner-area .title {
  margin-bottom: 55px;
  color: var(--primary-color);
}
.assurato .login-screen .banner .banner-area .dis {
  margin-bottom: 20px;
}
.assurato .header {
  position: relative;
}
.assurato .header .nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background: rgb(255, 255, 255);
}
.assurato .header .nav-bar .top-appbar {
  border-bottom: 0.5px solid var(--primary-color);
}
.assurato .header .nav-bar .top-appbar .nav-items {
  display: flex;
  justify-content: end;
  margin: 0;
  padding: 0;
}
.assurato .header .nav-bar .top-appbar .nav-items .nav-item .link {
  padding-left: 10px;
  padding-right: 10px;
  font-size: var(--smaller-font-size);
  padding-top: 15px;
  padding-bottom: 15px;
  display: inline-block;
  width: 100%;
}
.assurato .header .nav-bar .top-appbar .nav-items .nav-item .link:hover {
  color: #507fff;
}
.assurato .header .nav-bar .top-appbar .nav-items .nav-item .link svg {
  margin-left: 4px;
}
.assurato .header .nav-bar .top-appbar .nav-items .nav-item.sub-menu {
  z-index: 99;
  position: relative;
}
.assurato .header .nav-bar .top-appbar .nav-items .nav-item.sub-menu .nav-items {
  display: none;
  position: absolute;
  top: 44px;
  right: -10px;
  min-width: 130px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.assurato .header .nav-bar .top-appbar .nav-items .nav-item.sub-menu .nav-items .nav-item .link {
  padding: 12px 15px;
}
.assurato .header .nav-bar .top-appbar .nav-items .nav-item.sub-menu .nav-items .nav-item .link:hover {
  background: var(--primary-color);
  color: #ffffff;
}
.assurato .header .nav-bar .top-appbar .nav-items .nav-item.sub-menu:hover .nav-items {
  display: block;
}
.assurato .header .nav-bar .appbar .appbar-area {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}
.assurato .header .nav-bar .appbar .appbar-area .nav-brand {
  display: flex;
  align-items: center;
}
.assurato .header .nav-bar .appbar .appbar-area .nav-brand img {
  width: 26.11px;
  height: 25.91px;
  margin-right: 5px;
}
.assurato .header .nav-bar .appbar .appbar-area .bars {
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .assurato .header .nav-bar .appbar .appbar-area .bars {
    display: none;
  }
}
.assurato .header .nav-bar .appbar .appbar-area .bars svg {
  color: var(--primary-color);
  width: 23px;
  height: 16px;
}
.assurato .header .nav-bar .appbar .appbar-area .nav-items {
  display: flex;
  padding: 0;
}
@media (max-width: 991.98px) {
  .assurato .header .nav-bar .appbar .appbar-area .nav-items {
    flex-direction: column;
    flex-basis: 100%;
    display: none;
    width: 100%;
    top: 71px;
  }
}
.assurato .header .nav-bar .appbar .appbar-area .nav-items .nav-item .link {
  padding: 10px 15px;
  margin-left: 2px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}
.assurato .header .nav-bar .appbar .appbar-area .nav-items .nav-item .link.active, .assurato .header .nav-bar .appbar .appbar-area .nav-items .nav-item .link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
@media (max-width: 991.98px) {
  .assurato .header .nav-bar .appbar .appbar-area .nav-items .nav-item .link {
    width: 100%;
  }
  .assurato .header .nav-bar .appbar .appbar-area .nav-items .nav-item .link.active, .assurato .header .nav-bar .appbar .appbar-area .nav-items .nav-item .link:hover {
    background: none;
    color: rgb(2, 68, 211);
    font-weight: 600;
  }
}
@media (max-width: 991.98px) {
  .assurato .header .nav-bar .appbar.show .nav-items {
    display: block;
  }
}
.assurato .login-med-main {
  margin-bottom: 93px;
}
@media (max-width: 991.98px) {
  .assurato .login-med-main .login-med-area .login-med-header {
    position: relative;
  }
  .assurato .login-med-main .login-med-area .login-med-header .login-med-header-btns.show {
    display: block;
  }
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-top {
  height: 55px;
  background: rgb(232, 249, 252);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  cursor: pointer;
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-top:hover {
  background: rgb(218, 233, 236);
}
@media (min-width: 992px) {
  .assurato .login-med-main .login-med-area .login-med-header .login-med-header-top {
    display: none;
  }
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-top .login-med-select {
  margin-right: 5px;
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-top svg {
  font-size: 10px;
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-top:hover {
  background: rgb(218, 233, 236);
}
@media (max-width: 991.98px) {
  .assurato .login-med-main .login-med-area .login-med-header .login-med-header-btns {
    position: absolute;
    width: 100%;
    top: 57px;
    display: none;
  }
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-btns ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .assurato .login-med-main .login-med-area .login-med-header .login-med-header-btns ul {
    flex-direction: column;
  }
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-btns ul li {
  background: rgb(232, 249, 252);
  padding-top: 22px;
  padding-bottom: 24px;
  width: 100%;
  text-align: center;
  border-right: 1px solid var(--primary-color);
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .assurato .login-med-main .login-med-area .login-med-header .login-med-header-btns ul li {
    border: none;
  }
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-btns ul li:last-child {
  border-right: none;
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-btns ul li.active {
  background: rgb(218, 233, 236);
}
.assurato .login-med-main .login-med-area .login-med-header .login-med-header-btns ul li:hover {
  background: rgb(218, 233, 236);
}
.assurato .login-med-main .login-med-area .login-med-footer {
  margin-top: 39px;
  display: none;
}
.assurato .login-med-main .login-med-area .login-med-footer.show {
  display: block;
}
.assurato .login-med-main .login-med-area .login-med-footer .login-med-footer-area {
  display: flex;
  gap: 18px;
}
.assurato .login-med-main .login-med-area .login-med-footer .login-med-footer-area .left {
  width: 100%;
}
@media (max-width: 991.98px) {
  .assurato .login-med-main .login-med-area .login-med-footer .login-med-footer-area .left img {
    width: 100%;
  }
}
.assurato .login-med-main .login-med-area .login-med-footer .login-med-footer-area .right {
  background: #F7F7F7;
  height: 432px;
  padding: 42px 13px 42px 28px;
}
@media (max-width: 991.98px) {
  .assurato .login-med-main .login-med-area .login-med-footer .login-med-footer-area .right {
    display: none;
  }
}
.assurato .login-med-main .login-med-area .login-med-footer .login-med-footer-area .right .text {
  margin-bottom: 24px;
}
.assurato .footer {
  background: #124B75;
  padding-top: 83px;
  padding-bottom: 83px;
}
.assurato .footer .footer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .assurato .footer .footer-area {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.assurato .footer .footer-area .footer-item {
  order: 1;
}
.assurato .footer .footer-area .footer-item.brand-footer {
  margin-bottom: 32px;
}
@media (min-width: 992px) {
  .assurato .footer .footer-area .footer-item.brand-footer {
    display: flex;
    align-items: center;
    margin-bottom: auto;
    height: 216px;
  }
}
.assurato .footer .footer-area .footer-item:last-child ul:last-child {
  padding-bottom: 0px;
}
.assurato .footer .footer-area .footer-item ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-bottom: 3px;
}
@media (min-width: 992px) {
  .assurato .footer .footer-area .footer-item ul {
    align-items: flex-start;
  }
}
.assurato .footer .footer-area .footer-item ul li {
  color: var(--white-color);
  line-height: 19px;
}
.assurato .footer .footer-area .footer-item ul li .link {
  color: var(--white-color);
  transition: all 0.3s ease-in;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}
.assurato .footer .footer-area .footer-item ul li .link:hover {
  color: var(--gray-500);
}
.assurato .footer .footer-area .footer-item.social-icon ul {
  flex-direction: row;
}
@media (max-width: 991.98px) {
  .assurato .footer .footer-area .footer-item.social-icon ul .text {
    display: none;
  }
}
.assurato .footer .footer-area .footer-item.social-icon ul .footer-icon {
  font-size: 20px;
  display: none;
  padding-left: 11px;
  padding-right: 11px;
}
@media (max-width: 991.98px) {
  .assurato .footer .footer-area .footer-item.social-icon ul .footer-icon {
    display: block;
  }
}
@media (min-width: 992px) {
  .assurato .footer .footer-area .footer-item.social-icon ul {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  .assurato .footer .footer-area .footer-item:nth-child(1) {
    order: 0;
  }
  .assurato .footer .footer-area .footer-item:nth-child(5) {
    order: 0;
  }
}
.assurato .main-screen .header {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--white-color);
}
.assurato .main-screen .header .header-area {
  background: rgba(18, 76, 117, 0.322);
}
.assurato .main-screen .header h1 {
  color: var(--white-color);
}
.assurato .main-screen .header .banner .banner-area {
  padding-top: 215px;
  text-align: center;
}
.assurato .main-screen .header .banner .banner-area .dis {
  margin-top: 50px;
  font-size: 25px;
  margin-bottom: 47px;
}
@media (max-width: 991.98px) {
  .assurato .main-screen .header .banner .banner-area .dis {
    font-size: 18px;
  }
}
.assurato .main-screen .header .banner .banner-area .ban-btn {
  padding-top: 81px;
  padding-bottom: 91px;
}
.assurato .main-screen .header .banner .banner-area .ban-btn button {
  width: 332px;
  padding: 20px 25px;
  background: rgb(43, 224, 145);
  color: var(--white-color);
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.assurato .main-screen .header .banner .banner-area .ban-btn button:hover {
  background: rgb(17, 185, 113);
}
@media (max-width: 767.98px) {
  .assurato .main-screen .header .banner .banner-area .ban-btn {
    padding-top: 41px;
    padding-bottom: 59px;
  }
  .assurato .main-screen .header .banner .banner-area .ban-btn button {
    width: 160px;
    padding: 17px 25px;
    font-size: 16px;
  }
}
.assurato .main-screen .header .nav-bar {
  background: transparent;
}
@media (max-width: 991.98px) {
  .assurato .main-screen .header .nav-bar {
    background: var(--primary-color);
  }
}
@media (max-width: 991.98px) {
  .assurato .main-screen .header .nav-bar .link {
    color: var(--white-color) !important;
  }
}
.assurato .main-screen .header .nav-bar .appbar .appbar-area {
  background: transparent;
}
.assurato .main-screen .header .nav-bar .appbar .appbar-area .bars svg {
  color: var(--white-color);
}
.assurato .main-screen .header .nav-bar .appbar .appbar-area .nav-brand {
  color: var(--white-color);
}
.assurato .box-items {
  max-width: 916px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 53px;
}
@media (max-width: 991.98px) {
  .assurato .box-items {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
@media (max-width: 575.98px) {
  .assurato .box-items {
    grid-template-columns: repeat(1, 1fr);
  }
}
.assurato .box-items .item {
  padding: 36px 10px 26px 10px;
  background: var(--primary-color);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
@media (max-width: 991.98px) {
  .assurato .box-items .item {
    flex-direction: row;
    padding: 15px 26px;
    border-radius: 17px;
  }
}
@media (max-width: 575.98px) {
  .assurato .box-items .item {
    margin-left: 50px;
    margin-right: 50px;
  }
}
.assurato .box-items .item .icon {
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .assurato .box-items .item .icon {
    margin-bottom: 0;
    margin-right: 22px;
  }
}
.assurato .box-items .item .text {
  font-size: 18px;
}