@import "../include-media";
@import "../constant";



.assurato{
  .start-search-screen {
    .header {
      background: #e8f9fc;
      .top-appbar {
        background: #e8f9fc;
      }
      .appbar {
        background: #e8f9fc;
      }
    }
    .banner {
      .banner-area {
        padding-top: 203px;
        text-align: center;
        @include media-breakpoint-down(lg) {
          padding-top: 96px;
        }

        .title {
          margin-bottom: 40px;
          color: var(--primary-color);
          @include media-breakpoint-down(lg) {
            margin-bottom: 30px;
          }
        }
        .btn {
          display: inline-block;
          margin-bottom: 120px;
          border-radius: 6px;
          @include media-breakpoint-down(md) {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
  .hvilken-sec {
    padding-top: 41px;
    padding-bottom: 68px;
    @include media-breakpoint-down(lg) {
      padding-bottom: 38px;
    }

    .area {
      .title {
        font-family: "Almarai";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 43px;
        text-align: center;
        margin-bottom: 60px;
        @include media-breakpoint-down(lg) {
          font-size: 30px;
          line-height: 36px;
          margin-bottom: 30px;
        }
      }
      .hvilken-items {
        display: grid;
        gap: 6px;
        grid-template-columns: repeat(3, 1fr);
        @include media-breakpoint-down(lg) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-down(sm) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .btn-area {
        margin-top: 60px;
        text-align: center;
        @include media-breakpoint-down(lg) {
          margin-top: 30px;
        }

        .btn {
          display: inline-block;
          text-align: center;
          font-family: "Almarai";
          font-weight: 700;
          font-size: 16px;
          line-height: 22px;
          padding: 14px 24px;
        }
      }
    }
  }
  .hvilken-items {
    cursor: pointer;
    .item {
      background-color: #f7f7f7;
      display: flex;
      padding: 14px 20px;
      align-items: center;
      transition: all 0.3s ease-in;
      position: relative;
      border-radius: 6px;

      .added {
        display: none;
      }
      .add {
        display: block;
      }
      &.active {
        background-color: #e8f9fc;
        .avatar {
          background-color: var(--primary-color);
        }
        .added {
          display: block;
        }
        .add {
          display: none;
        }
      }
      &:hover {
        background-color: rgb(199, 235, 241);
      }
      .ddd {
        margin-left: auto;
      }
      .avatar {
        background: #a4a4a4;
        width: 31px;
        height: 31px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          color: var(--white-color);
          font-size: 16px;
        }
      }
      .r-icon {
        margin-right: 20px;
      }
      .dis {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        font-family: "Almarai";
        @include media-breakpoint-down(lg) {
          font-size: 15px;
        }
      }
    }
  }
  // ========= User Form Section ======
  .user-form-sec {
    .area {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      @include media-breakpoint-down(lg) {
        grid-template-columns: repeat(1, 1fr);
      }

      // left
      .left {
        // background: red;
        .udfy {
          margin-bottom: 15px;
          margin-top: 40px;
          display: block;
        }
        @include media-breakpoint-down(lg) {
          order: 2;
        }
      }
      // right
      .right {
        order: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .dis {
          padding: 40px;
          background-color: #f7f7f7;
          margin-bottom: 10px;
          .text {
            margin-bottom: 22px;
          }
        }
      }
    }
  }
  // form card
  .form-card {
    background-color: #f7f7f7;
    padding: 24px 36px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    &:hover{
      background-color: #ebeaea;
    }
    .card-text {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      color: #000000;
    }
  }
  // timeline
  .timeline-main {
    width: 100%;
    padding: 49px 40px 20px 40px;
    background: #f7f7f7;
    border-radius: 6px 6px 0px 0px;
    margin-bottom: 40px;
    @include media-breakpoint-down(sm) {
      padding: 3px 38px;
      height: auto;
      margin-bottom: 38px;
    }

    .timeline {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      .area {
        width: 100%;
        display: grid;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        @include media-breakpoint-down(sm) {
          grid-template-columns: repeat(1, 1fr);
        }

        .item {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 17px 0;
          color: #a4a4a4;
          .cus-line {
            width: 100%;
            height: 2px;
            background: #dddddd;
            position: absolute;
            top: -3px;
            left: 71px;
            @include media-breakpoint-down(sm) {
              height: 100%;
              width: 2px;
              left: 0;
              top: 32px;
            }
          }

          &::after {
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            background: #ffff;
            top: -9px;
            border-radius: 50%;
            border: 4px solid #ffff;
            outline: 2px solid var(--primary-color);
            z-index: 9;
            @include media-breakpoint-down(sm) {
              top: auto;
              left: -6px;
            }
          }
          &.active {
            color: var(--primary-color);
            font-weight: 700;
            &::after {
              background: var(--primary-color);
            }
            &.complete {
              &::after {
                background: none;
                border: 4px solid var(--primary-color);
              }
              .cus-line {
                background: var(--primary-color);
              }
            }
          }
          &::before {
            content: "";
            position: absolute;
            width: 60px;
            height: 16px;
            background: #f7f7f7;
            top: -9px;
            z-index: 9;
            @include media-breakpoint-down(sm) {
              width: 15px;
              height: 60px;
              top: auto;
              left: 0;
            }
          }
          @include media-breakpoint-down(sm) {
            justify-content: start;
            padding: 27px 28px;
          }
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          align-items: flex-start;
          justify-content: start;
          &::after {
            // display:none;
            width: 2px;
            height: 80%;
            top: 10px;
            left: 0;
          }
        }
      }
    }
  }
  // Check-Box
  .form-check {
    padding-bottom: 65px;
    @include media-breakpoint-down(sm) {
      padding-bottom: 105px;
    }

    .dis {
      h5 {
        font-family: "Almarai";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
      }
      p {
        font-family: "Almarai";
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .btn-group-input {
    display: inline-block;
    input[type="button"] {
      background: #ffffff;
      border: none;
      outline: none;
      float: left;
      width: 73px;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      color: #218ff3;
      padding-top: 12px;
      padding-bottom: 13px;
      border: 1px solid #4770e5;
      &.active {
        background: var(--primary-color);
        color: #ffffff;
      }
      &:first-child {
        border-right: none;
        border-radius: 6px 0px 0px 6px;
      }
      &:last-child {
        border-radius: 0px 6px 6px 0px;
        border-left: none;
      }
    }
  }
  //  dk-input-group
  .dk-input-group {
    width: 177px;
    display: flex;
    // border: 1px solid var(--primary-color);
    border-radius: 6px;
    overflow: hidden;
    .left-side {
      padding: 13px 8px 12px 8px;
      background-color: var(--primary-color);
      color: var(--white-color);
    }
    input[type="text"] {
      background: #ffff;
      padding-left: 12px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: 1px solid #eeeeee;
      &:focus {
        border: 1px solid var(--primary-color);
        outline: none;
      }
    }
    ::placeholder {
      color: rgba(198, 233, 238, 1);
      opacity: 1;
    }
  }
  .antal-input {
    max-width: 86px;
    padding: 13px 26px 12px 35px;
    border-radius: 6px;
    border: 1px solid var(--primary-color);
    &:focus {
      border: 1px solid var(--primary-color);
      outline: none;
    }
    &::placeholder {
      color: rgba(198, 233, 238, 1);
      opacity: 1;
    }
  }
  .bottom-nav-btns {
    margin-top: 158px;
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
    @include media-breakpoint-down(lg) {
      margin-top: 40px;
      margin-bottom: 40px;
    }

    .btn {
      font-family: "Almarai";
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      padding: 14px 24px;
      border-radius: 6px;
      &.outline {
        background: var(--white-color);
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
        transition: all 0.3s ease;
        &:hover {
          background: rgba(198, 233, 238, 1);
        }
      }
    }
  }

  .date-input {
    display: flex;
    gap: 5px;
    input {
      padding: 12px;
      width: 48px;
      &::placeholder {
        font-family: "Almarai";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #4770e5;
        opacity: 1;
      }
      &:last-child {
        width: 63px;
      }
    }
  }
  .input-row {
    display: flex;
    gap: 7px;
    input {
      &:first-child {
        width: 109px;
      }
      &:last-child {
        flex-grow: 1;
      }
    }
  }
  .list-of-input {
    display: flex;
    input {
      border-right: none;
      border-radius: 0;
      width: 47px;
      padding: 12px 12px;

      &:focus {
        border: 1px solid #eeeeee;
        border-right: none;
      }
      &:last-child {
        border-right: 1px solid #eeeeee;
        border-right: 1px solid #eeeeee;
      }
      &.active {
        background: var(--primary-color);
        color: var(--white-color);
      }
    }
  }
  .check-row {
    display: inline-block;
    width: 100%;
    &.form-check .check-input + .check-label:before {
      top: 16px;
    }
    &.form-check .check-input:checked + .check-label:before {
      background: rgb(71, 112, 229);
    }
    &.form-check .check-input:checked + .check-label:after {
      top: 25px;
    }
    .dis-row {
      .img {
        width: 54px;
        height: 54px;
        margin-left: 7px;
        @include media-breakpoint-down(sm) {
          margin-left: 10px;
        }
      }
      display: flex;
      align-items: center;
      .check-detail {
        display: flex;
        width: 100%;

        .text {
          flex-grow: 1;
          padding-left: 10px;
        }
        .stars {
          flex-basis: 150px;
        }
        .percentage {
          flex-basis: 100px;
        }
        .stars {
          svg {
            color: #f2e900;
          }
        }
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          gap: 10px;
          .stars {
            flex-basis: auto;
            padding-left: 20px;
          }
          .percentage {
            flex-basis: auto;
            padding-left: 20px;
          }
          .text {
            padding-left: 20px;
          }
        }
      }
    }
    @include media-breakpoint-down(sm) {
      &.form-check .check-input + .check-label:before {
        top: 26px;
      }
      &.form-check .check-input:checked + .check-label:before {
        background: rgb(71, 112, 229);
      }
      &.form-check .check-input:checked + .check-label:after {
        top: 35px;
      }
    }
  }

  //
  .general-info {
    border: 1px solid #eeeeee;
    border-radius: 12px;

    .general-info-header {
      padding: 20px 40px;
      background: #e8f9fc;
      border-radius: 12px 12px 0px 0px;
      @include media-breakpoint-down(lg) {
        padding: 20px;
      }

      .title {
        font-family: "Alata";
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        margin-bottom: 5px;
        @include media-breakpoint-down(lg) {
          font-size: 24px;
        }
      }
    }
    .sub-header {
      padding: 26px 40px;
      display: flex;
      gap: 30px;
      @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: 20px;
      }
      @include media-breakpoint-down(lg) {
        padding: 20px;
      }

      h6 {
        font-family: "Almarai";
        font-weight: 400;
        font-size: var(--normal-font-size);
        line-height: 18px;
        color: #000000;
        margin-bottom: 10px;
      }
      p {
        font-family: "Almarai";
        font-weight: 400;
        font-size: var(--normal-font-size);
        line-height: 18px;
        color: #cccccc;
      }
    }
    .content {
      padding: 40px;
      @include media-breakpoint-down(lg) {
        padding: 20px;
      }
    }
    .form-check {
      padding-bottom: 20px;
      padding-top: 40px;
      @include media-breakpoint-down(lg) {
        padding-top: 20px;
      }
    }
  }
  .under-acc-title {
    font-family: "Almarai";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 30px;
    display: block;
    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
  }
  .start-search-screen-2 {
    .dk-input-group,
    .input-width {
      width: 347px !important;
      @include media-breakpoint-down(md) {
        width: 100% !important;
      }
    }
    .bottom-nav-btns {
      margin-top: 80px;
      margin-bottom: 120px;
      @include media-breakpoint-down(lg) {
        margin-top: 60px;
        margin-bottom: 60px;
      }
    }
  }
  .gray-label {
    color: #cccccc !important;
  }

}