@import "../include-media";
@import "../constant";

.assurato {
  .user_insurancce {
    // *###################  component ###################
    // tab-nav

    .tab-nav {
      border-bottom: 1px solid #dddddd;
      margin-bottom: 40px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 30px;
        border: none;
      }

      .items {
        margin: 0;
        padding: 0;
        display: flex;
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          
          gap: 6px;
        }

        .item {
          flex-grow: 1;
          @include media-breakpoint-down(sm) {
            border: 1px solid #EEEEEE;
            border-radius: 4px;
            overflow: hidden;
          }
          
          .link {
            padding: 15px 25px;
            display: inline-block;
            color: #333333;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            @include media-breakpoint-down(sm) {
              padding: 14px 20px;
              padding-left: 0;
              width: 100%;
              text-align: center;
            }

            &.active {
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              text-align: center;
              color: #4770e5;
              position: relative;
              @include media-breakpoint-down(sm) {
                padding-left: 12px;
              }

              &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 4px;
                left: 0;
                bottom: -2px;
                background-color: var(--primary-color);
                @include media-breakpoint-down(sm) {
                  bottom: 0px;
                }
              }
            }
          }
        }
      }
    }

    // !############## overwrite component ##############
    .banner {
      .banner-area {
        @include media-breakpoint-down(lg) {
          padding-top: 86px;
        }

        .title {
          font-family: "Alata";
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 48px;
          color: #000000;
          padding-bottom: 83px;
          @include media-breakpoint-down(lg) {
            padding-bottom: 40px;
          }
        }
      }
    }
    .user-form-sec {
      .area {
        .left {
          .bottom-nav-btns {
            margin-top: 0;
            margin-bottom: 120px;
            @include media-breakpoint-down(lg) {
              margin-bottom: 60px;
            }
          }
        }
        .right{
          @include media-breakpoint-down(lg) {
            padding-bottom: 30px;
          }
          
        }
      }
    }
    .general-info {
      border: none;
      .content {
        padding-left: 0;
        .content-area {
          .date-input {
            input {
              &::placeholder {
                font-family: "Almarai";
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #dddddd;
              }
            }
          }
          .udfy {
            margin-bottom: 10px;
            margin-top: 30px;
            font-family: "Almarai";
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: #000000;
          }
        }
      }
    }

    // ! add user_insurancce >>
  }
  // ! with out user_insurancce
  .custom-accordion {
    &.user-acc {
      .accordion-list {
        li {
          border-radius: 12px !important;
          margin-bottom: 10px;
          .answer {
            .acc-row-title {
              font-family: "Almarai";
              font-style: normal;
              font-weight: 700;
              font-size: 16px;
              line-height: 22px;
              color: #333333;
            }
            padding: 30px;
            .acc-row {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 10px;
              .acc-row-text {
                margin-bottom: 0;
                color: #333333;
              }
            }
            @include media-breakpoint-down(lg) {
              padding: 20px;
            }
            .tidligere-ans-row {
              display: flex;
              gap: 40px;
              @include media-breakpoint-down(lg) {
                flex-direction: column;
                gap: 5px;
              }
              
              .tidligere-ans-left {
                width: 400px;
                @include media-breakpoint-down(lg) {
                  flex-basis: auto;
                }
                
                h5 {
                  font-family: "Almarai";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 22px;
                  align-items: center;
                  color: #000000;
                  margin-bottom: 10px;
                }
              }
              .tidligere-ans-right{
                h5 {
                  font-family: "Almarai";
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 22px;
                  align-items: center;
                  color: #000000;
                  margin-bottom: 10px;
                }
              }
            }
          }
          &.active {
            border: 1px solid #eeeeee !important;
            .acc-title {
              border-bottom-left-radius: 0px;
              border-bottom-right-radius: 0px;
            }
          }
        }
        .acc-title {
          background: #e8f9fc;
          padding: 20px 30px;
          border-radius: 12px;
          gap: 4px;
          transition: all .9s ;
          @include media-breakpoint-down(lg) {
            padding: 20px;
          }

          .acc-title-area {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 4px;

            @include media-breakpoint-down(lg) {
              flex-direction: column;
              justify-content: flex-start;
              align-items: flex-start;
            }
            &.extra-lg {
              @include media-breakpoint-down(xxl) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
              }
            }
            .acc-title-start {
              h4 {
                font-family: "Almarai";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
                margin-bottom: 4px;
              }
              p {
                font-family: "Almarai";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #333333;
              }
            }
            .acc-title-mid {
              font-family: "Almarai";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: #333333;
            }
            .acc-title-end {
              padding-right: 20px;
              font-family: "Almarai";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: var(--primary-color);
            }
          }
          .avatar {
            background-color: #ffff;
            transition: all 0.3s ease;

            svg {
              color: var(--primary-color);
            }
          }
        }
        .active {
          .acc-title {
            .avatar {
              background-color: var(--primary-color);
              svg {
                color: #ffff;
              }
            }
          }
        }
      }
    }
  }
  .accordion-main-title {
    font-family: "Alata";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 48px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .acc-mark-row {
    display: flex;
    align-items: center;

    .icon-area {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        color: #ffff;
        font-size: 13px;
      }
    }
    .text-area {
      margin-left: 12px;
    }
  }
}
